.containerDashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.paperDashboard {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    text-align: center;
}

.paperDashboard:hover {
    background: #eeeeee;
    cursor: pointer;
}

.paperDashboard:active {
    background: #ababab;
    -webkit-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 8px 30px 0px rgba(0,0,0,0.5);
}

.paperDashboard:hover .plusIcon {
    transform: rotate(180deg);
}

.plusIcon {
    font-size: 320px;
    transition: transform 0.4s;
    transition-timing-function: ease-out;
}

.titlesContainer h1 {
    line-height: 10px;
}

.titlesContainer {
    margin: 10px 0;
    text-align: center;
}