.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.paper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
    text-align: center;
}

.paper:hover {
    background: #eeeeee;
    cursor: pointer;
}

.paper:active {
    background: #ababab;
}

.paper:hover .plusIcon {
    transform: rotate(180deg);
}

.plusIcon {
    font-size: 320px;
    transition: transform 0.4s;
}